@import url('https://fonts.googleapis.com/css?family=Montserrat');
body,
html {
  height: 100%;
}

body {
  background: #1abc9c;
  background: linear-gradient(135deg, #1abc9c 0%, #8e44ad 100%);
  background-attachment: fixed;
  background-repeat: space;
  font-family: 'Montserrat';
  margin: 0;
  background-color: black;
  background-size: cover;
  background-position: center;
}

body #navigation {
  background-color: rgba(68, 81, 255, 1);
}

body .nav-link {
  background: transparent;
  border: none;
  color: #fff;
}

body .nav-link:active,
.nav-link:focus {
  border-bottom: 1px solid #fff;
}

body #title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 2vw 0;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 50px;
  margin: 0;
  margin-top: 4vw;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4vw;
  color: white;
  text-shadow: 2px 2px 2px #4451ff, 0 0 25px #4451ff, 0 0 5px #4451ff;
}

body #shortcut-bar {
  padding: 0px 5% 3px 5%;
}

body #shortcut-bar .customBtn {
  color: white;
  text-shadow: 2px 2px 2px #4451ff, 0 0 25px #4451ff, 0 0 5px #4451ff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  letter-spacing: 0.5vw;
}

body #bg {
  -webkit-clip-path: polygon(0 0, 70% 100%, 100% 0);
  clip-path: polygon(0 0, 70% 100%, 100% 0);
  background-color: rgba(68, 81, 255, 0.3);
  border-top: 5px solid #4451ff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-animation: blink 0.5s step-end infinite alternate;
  animation: blink 0.5s step-end infinite alternate;
}

main section#card {
  padding: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 2px #4451ff, 0 0 25px #4451ff, 0 0 5px #4451ff;
  margin: 1em auto;
  width: 80%;
}

main section#card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main section#card ul li {
  margin-bottom: 10px;
}

main section#card ul li span {
  position: absolute;
  content: ' ';
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

main section#card ul li strong {
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
}

main div#spaceman {
  -webkit-animation-name: floating;
  animation-name: floating;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  z-index: 2;
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}

main div#portfolioSection {
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

main div#portfolioSection h1 {
  font-size: 3em;
  margin-top: 10px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #4451ff, 0 0 25px #4451ff, 0 0 5px #4451ff;
}

main div#portfolioSection p {
  font-size: 4em;
  text-shadow: 2px 2px 2px #4451ff, 0 0 25px #4451ff, 0 0 5px #4451ff;
}

main div#portfolioSection a#get_help {
  color: #ffffff;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(0, 8, 119, 0.3);
  text-shadow: 2px 2px 2px #4451ff, 0 0 25px #4451ff, 0 0 5px #4451ff;
  display: block;
  text-align: center;
  margin: 50px auto 0 auto;
  padding: 15px;
  border: 5px solid #4451ff;
}

.fullHeight {
  height: 100%;
}
.intro {
  height: 100vh;
}

@media screen and (min-device-width: 200px) and (max-device-width: 500px) {
  .intro {
    height: 55vh;
  }

  body #bg {
    -webkit-clip-path: polygon(0 0, 70% 100%, 100% 0);
    clip-path: polygon(0 0, 70% 100%, 100% 0);
    background-color: rgba(68, 81, 255, 0.3);
    border-top: 5px solid #4451ff;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    -webkit-animation: blink 0.5s step-end infinite alternate;
    animation: blink 0.5s step-end infinite alternate;
  }
}

html {
  font-size: 16px;
}
@media screen and (max-device-width: 500px) {
  html {
    font-size: 30px;
  }
}
@media screen and (min-device-width: 1000px) {
  html {
    font-size: 22px;
  }
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.darkGrey {
  background-color: rgba(0, 0, 0, 0.5);
}
